body {
    margin: 0;
    padding: 0;
    font-family: Montserat, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
        }
header {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
        }

.nav-link {
    font-size: 1rem;
    color: #333;
        }

.nav-link:hover {
    color: #007bff;
        }

.container {
    color: #000000;
    text-align: center;
    max-width: 600px;
        }

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
        }

p {
    font-size: 1rem;
    color: #777777;
    margin-bottom: 1.5rem;
        }

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
        }

.btn {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
        }

.btn-primary {
    background-color: rgba(226, 18, 73, 1);
    color: #ffffff;
        }

.btn-primary:hover {
    background-color: #d40872;
        }

.btn-secondary {
    background-color: #f5f5f5;
    color: #000000;
    border: 1px solid #ddd;
        }

.btn-secondary:hover {
    background-color: #ebebeb;
        }
/* ------------------------------------------------------------------------------------------ */

/* Общий стиль футера */
footer {
    border-top: 1px solid #ddd;
    font-size: 14px;
}

/* Ссылки в футере (обычная колонка) */
.footer-link-regular {
    text-decoration: none;
    color: #000; /* Чёрный цвет */
}

.footer-link-regular:hover {
    text-decoration: underline;
    color: #555; /* Тёмно-серый при наведении */
}

/* Почта */
.footer-email {
    text-decoration: none;
    color: rgba(226, 18, 73, 1); /* Красный */
    font-weight: bold;
}

.footer-email:hover {
    text-decoration: underline;
    color: rgba(200, 16, 65, 1); /* Немного темнее при наведении */
}

/* Иконки соцсетей */
.footer-social {
    color: rgba(226, 18, 73, 1); /* Красный */
    font-size: 20px;
    margin-right: 10px;
}

.footer-social:hover {
    color: rgba(200, 16, 65, 1); /* Немного темнее при наведении */
}

