{% extends "base.html" %}

{% block content %}
<div class="main-content">
    <div class="text-center my-5">
        <h1 class="display-4">Юридические услуги легко и доступно</h1>
        <p class="lead">Все юридические услуги в одном месте от компании Леги.ру</p>
        <div class="mt-4">
            <a href="#" class="btn btn-custom mr-2">Наши услуги</a>
            <a href="#" class="btn btn-outline-secondary btn-lg">О компании</a>
        </div>
    </div>
</div>
<div class="text-container my-5">
        <h1 class="display-5">Комплексные юридические услуги от Леги.ру</h1>
 </div>
<div class="services-container">
        <div class="service-item">
            <div class="service-name">Юридическая консультация</div>
            <div class="service-price">от 200 000 руб</div>
            <div class="service-description">Описание</div>
        </div>
        <div class="service-item">
            <div class="service-name">Составление договоров</div>
            <div class="service-price">от 300 000 руб</div>
            <div class="service-description">Описание</div>
        </div>
        <div class="service-item">
            <div class="service-name">Регистрация бизнеса</div>
            <div class="service-price">от 500 000 руб.</div>
            <div class="service-description">Описание</div>
        </div>
</div>

{% endblock %}